.container-github-user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
}

.error-alert {
    color: red;
}