.container-github-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.input-github-search {
    border-radius: 6px;
    padding: 0.5rem;
    max-width: 400px;
    width: 100%;
}
